# Python
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyCharm
.idea/

# VS Code
.vscode/

# Data
data/

#Tests
tests/